body {
background-color: rgb(14, 77, 102);

}



.container {
    /* Sets top and bottom margin to 20px. Auto will center element */
    margin: 20px;
    word-wrap: break-word;
    border-bottom: 5px solid darkblue;
    background-color: #e6c78e;
}

.title {
    font: 1.5rem "Fira Sans", sans-serif;
    font-weight: bold;
    word-wrap: break-word;
    justify-content: center;
    text-align: center;
    border-bottom: 2px solid black
}

.content {
    font: 1.2rem "Fira Sans", sans-serif;
    font-weight: 100;
    margin-left: 20px;
    margin-right: 20px;
    word-wrap: break-word;
}

.username {
    font-family: sans-serif;
    padding-top: 30px;
    margin-left: 10px;
    font-weight: 650;
}

#footer {
    position: fixed;
    margin: auto;
    text-align: center;
    font-size: 20px;
    left: 0px;
    bottom: 0px;
    height: 40px;
    width: 100%;
    background: #10e2e2;


}